html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#myCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#contentDiv{
  z-index: 1;
  position: absolute;
}

table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
}

td {
  width: 50%;
  max-height: 50%;
  border: 1px solid black;
  text-align: center; 
}

button {
  background-color: #04AA6D;
  width: 50%;
  height: 80%;
}

button:hover {
  background-color: #20dc97; 
}

.responsive-text {
  font-size: 8vw; 
}
