html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.row {
  width: 100%;
  height: 50%;
}

.row div {
  width: 50%;
  height: 100%;
  float: left;
}

.button {
  background-color: #04AA6D;
  max-width: 100%;
}
