html {
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  justify-content: center;
  overflow: hidden;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.button {
  background-color: #04AA6D;
  max-width: 100%;
}
